.fieldset-info {
    display:flex;
    flex-direction: column;
    border: none;
    padding: 0 2rem 1rem 3rem;
    overflow-y: scroll;

}

.fieldset-info::-webkit-scrollbar {
    width: .5rem;
    border: none;
    background: transparent;
}

.fieldset-info::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 50px;
}

.fieldset-info legend {
    font-size: var(--medium-size-font);
    padding: 1rem;
    font-weight: 700;
}

.fieldset-info label {
    padding: .5rem 0;
    font-size: var(--small-size-font);
    font-weight: 500;
} 

.fieldset-info .product_name,
.fieldset-info .product_price,
.fieldset-info .product_description,
.fieldset-info .product_category,
.fieldset-info .product_gener,
.fieldset-info .form_submit {
    position: relative;
    outline: none;
    border-radius: 20px;
    background: white;
    border :none;
    width: 80%;
    max-width: 400px;
    height: 3rem;
    padding: .5rem 1rem;
    font-weight: 500;
    
}

.fieldset-info .product_description {
    min-height:  6rem;
}

.fieldset-info .form_submit {
    margin: 1rem 0;
    background: black;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fieldset-info .product_size {
    display: flex;
    align-items: center;
    height:3rem;
}

.product_size .label-checkbox {
    width: 3rem;
    height: 2.5rem;
    border-radius: 10px;
    padding: .5rem;
    margin: 0 1rem ;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.763);
    box-shadow: 3px 3px 5px #cacaca2f,
            -3px -3px 5px #ffffff39;

}

.product_size .checkbox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.product_size .label-checkbox.checked {
    background: var(--green-scale-1);
    box-shadow: 3px 3px 5px #cacaca,
        -3px -3px 5px #ffffff;
}

.fieldset-info .warning {
    padding: .4rem;
    color: red;
    font-size: var(--Xsmall-size-font);
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 30px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}