* {
    font-family: var(--font-light);
}

nav {
    width: 100%;
    min-width: 100vw;
    height: 5rem;
    border-top: 1px solid var(--gray-scale-2);
    border-bottom: 1px solid var(--gray-scale-2);
    display: grid;
    grid-template-columns: 70% 15% 15%;
    grid-template-rows: 100%;
    align-items: center;


}

nav ul {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    max-width: 700px;
    height: 100%;
}

nav ul li {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: .5rem;
    align-self: left;

}

.finalize_purchase {
    background: var(--background-button);
    border: 1px solid var(--border-button);
    border-radius: 20px;
    height: 3rem;
    max-width: 150px;
    padding: 1rem 2rem;
    white-space: nowrap;
    color: black;
    font-weight: 600;
    justify-self: right;

}

.icon-car-shopping {
    height: 100%;
    background: transparent;
}

.icon-car-shopping .icone {
    height: 50%;
}