
.container_carousel {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid var(--grayScale-2);
    display: flex;
    overflow: hidden;
    position: relative;
    filter: brightness(0.5);}

.images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    transition-property: opacity, left;
    transition-duration: 1.7s, 2s; 
    transition-timing-function:ease-in, ease-in-out;
}

.image {
    width: 100%;
    min-height: 100%;
}

.container_search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_search h2 {
    color: white;
    padding: 2rem;
    font-size: 2rem;
}

.container_input_search {
    width: 50%;
    min-width: 300px;
    height: 4rem;
    background: white ;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.container_input_search .input_search_icon1 {
    position: absolute;
    left: 0;
    width: 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_input_search input[type=text]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 3rem;
    font-size: 1.3rem;
    background: transparent;
}

.container_input_search .input_search_icon2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:1rem;
    background: var(--greenScale-2);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}






