.fieldset-Info{
    border: none;
    padding: 1rem 2rem;
    background: var(--grayScale-1);
    overflow-x: hidden;
    overflow-Y: scroll;
    padding-bottom: 6rem;
    scroll-behavior: smooth;
}

.fieldset-Info::-webkit-scrollbar {
  width: 1rem;
  border: none;
  background: transparent;
}

.fieldset-Info::-webkit-scrollbar-thumb {
  background: var(--grayScale-2);
  border-radius: 50px;
}

.fieldset-Info::-webkit-scrollbar-thumb:hover {
  background: var(--white-scale-2);

}

.fieldset-Info h2 {
    margin: 0 1rem;
    font-size: var(--medium-size-font);
}

.container-input {
    display: flex;
    flex-direction: column;
}

.fieldset-Info label {
    display: flex;
    padding:  1rem 0 .5rem 1rem;
    font-size: var(--small-size-font);
    font-weight: 500;
} 

.product_name,
.product_price,
.product_description,
.product_category,
.product_gener,
.form_submit {
  position: relative;
  border-radius: 20px;
  background: white;
  border: 1px solid var(--grayScale-2) ;
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  height: 3rem;
  padding: .5rem 1rem;
  font-weight: 500;
  font-size: var(--small-size-font);
  cursor: pointer;
}

.product_name:focus,
.product_price:focus,
.product_description:focus,
.product_category:focus,
.product_gener:focus,
.product_color:focus,
.form_submit:focus {
  outline: 2px solid var(--grayScale-2);
}

.fieldset-Info input:hover,
.fieldset-Info textarea:hover,
.fieldset-Info .product_size label:hover,
.fieldset-Info select:hover{
  transform: scale(1.02);
}

.fieldset-Info .product_category {
  z-index: 4;
} 

.fieldset-Info .container-product-category label {
  z-index: 4;
}

.fieldset-Info .product_description {
  min-height:  6rem;
}

.fieldset-Info .product_size {
  display: flex;
  align-items: center;
  height:auto;
  flex-wrap: wrap;
  gap: .1rem;
}

.fieldset-Info .product_color {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.fieldset-Info .product_color:hover{
  transform: scale(1.05);
}

.fieldset-Info .container-input-color {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  flex-wrap: wrap;
}

.fieldset-Info  .container-button-inp-color {
  display: flex;
  flex-direction: column;
}

.fieldset-Info .container-input-color .deleteLastColor,
.fieldset-Info .container-input-color .addMoreColor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--grayScale-2);
  background: var(--fullWhite);
  font-size: 1rem;
}

.fieldset-Info .product_color {
  width: 3rem;
  height: 3rem;
}

.fieldset-Info .product_color::-webkit-color-swatch{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}

.product_size .label-checkbox {
  width: 4.5rem;
  height: 2.5rem;
  font-size: .7rem;
  border-radius: 10px;
  padding: .5rem;
  margin: 0 1rem ;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayScale-2);
  background: rgba(255, 255, 255, 0.763);
  box-shadow: 3px 3px 5px #cacaca2f,
          -3px -3px 5px #ffffff39;

}

/* .form_submit */ 
.container-submit{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%; 
  background:var(--mediumWhite) ;
  backdrop-filter: blur(2px);
  padding-left: 2rem;
}
.fieldset-Info .up,
.fieldset-Info .down {
  position: absolute;
  right: 2rem;
  bottom: 6rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s;
  z-index: 3;
}

.fieldset-Info .up.hiddem,
.fieldset-Info .down.hiddem {
  display: none;
}
.fieldset-Info .up{
  transform: rotate(-180deg);

}

.product_size .checkbox {
  width:  4.5rem;
  height: 100%;
  position: absolute;
  margin: 0 1rem;
  opacity: 0;
  background: red;
  cursor: pointer;
}

.label-checkbox:focus{
  outline: 2px solid var(--grayScale-2);
    
}

.checkbox:focus .label-checkbox {
  background: var(--greenScale-1);
  box-shadow: 3px 3px 5px #cacaca,
    -3px -3px 5px #ffffff;
}

.product_size .label-checkbox.checked {
  background: var(--grayScale-2);
  box-shadow: 3px 3px 5px #cacaca, -3px -3px 5px #ffffff, inset 3px 3px 5px #cacaca, inset -3px -3px 5px #ffffff;
}

.fieldset-Info .form_submit {
  margin: 1rem 0;
  background: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-color: white;

}

.fieldset-Info .warning {
    display: flex;
    padding: .4rem;
    color: red;
    font-size: var(--x-small-size-font);
    animation: shake .3s ;
}

.fieldset-Info .blockInputs {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--mediumWhite) ;
  backdrop-filter: blur(3px);
  z-index: 3;
}

@keyframes shake {
    0%{
      transform: translateX(0);
    }
    25%{
      transform: translateX(10px);
    }
    50%{
      transform: translateX(-10px);
    }
    75%{
      transform: translateX(10px);
    }
    100%{
      transform: translateX(0px);
    }
}
  